{% extends "base.html" %}



{% block sidebar %}
<div class="sidebar gradient">
    <hr class='navline navline1'/>
    <h2 class='navtitle'>ADMIN</h2>
    <hr class='navline'/>
    <div class='sidebar-menu'>
        <ul id='navbar'>
            <li><h4><a href='{{ url_for('listEmployees') }}' class='opt'>HR System</a></h4></li>
            <li><h4><a href='{{ url_for('listClients') }}' class='opt'>Client Database</a></h4></li>
            <li><h4><a href='{{ url_for('listDetachmentsManhour') }}' class='opt'>Manhour System</a></h4></li>
            <li><h4><a href='{{ url_for('listDetachmentsPayroll') }}' class='opt'>Payroll System</a></h4></li>
            <li><h4><a href='{{ url_for('listDetachmentsPayables') }}' class='opt'>Payables Record</a></h4></li>
            <li><h4><a href='{{ url_for('viewLoansSSS') }}' class='opt'>Benefits System</a></h4></li>
        </ul>

    </div>

</div>
{% endblock sidebar %}

{% block content %}

    <h1>Welcome!</h1>

{% endblock content%}
