{% extends "base.html" %}

{% block sidebar %}
<div class="sidebar gradient">
    <hr class='navline navline1'/>
    <h2 class='navtitle'>CLIENT RECORDS</h2>
    <hr class='navline'/>
    
    <div class='sidebar-menu'>
        <h4>Client Information</h4>
        <ul class="right">
            <li class="nobullets"><a href='{{ url_for('listClients') }}' class='opt2'>View Client</a></li>
            <li class="nobullets"><a href='{{ url_for('addClient') }}' class='opt2'>Add New Client</a></li>
        </ul> 
        <h4>Detachment Information</h4>
        <ul class="right">
            <li class="nobullets"><a href='' class='opt2'>View Detachment</a></li>
        </ul> 
    </div>

</div>
{% endblock sidebar %}


{% block content %}
<h1>Add New Detachment</h1>
<h3>Client: {{ Client.Name }}</h3>
<hr>
<br/>
<form class='pure-form pure-form-aligned' method='post' action='{{ url_for('insertDetachment', ID=Client.ID) }}'>
    <table>
        <tr>
            <td><label>Detachment Name: </label></td>
            <td><input name='name'/></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><label>Status: </label></td>
            <td>
                <select name="status">
                    <option value="P">Pending</option>
                    <option value="A">Active</option>
                    <option value="T">Terminated</option>
                 </select>
            </td>
        </tr>
        <tr>
            <td><label>Start Date: </label></td>
            <td><input name='start' type='date' value=''/></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><label>City: </label></td>
            <td><input name='city' type='text'/></td>
        </tr>
        <tr>
            <td><label>Address: </label></td>
            <td><textarea name='address' cols='22' rows='3'></textarea></td>
        </tr>
        
    </table>


    <br/>
    <br/>

    <input type='submit' class='pure-button' value='Submit'/>
    <input style='float:right;' type='reset' class='pure-button' value='Reset'/>
    </form>

{% endblock content %}