{% extends "base.html" %}

{% block sidebar %}
<div class="sidebar gradient">
    <hr class='navline navline1'/>
    <h2 class='navtitle'>BENEFITS SYSTEM</h2>
    <hr class='navline'/>
    
    <div class='sidebar-menu'>
        <h4>Government Loans</h4>
        <ul class="right">
            <li class="nobullets"><a href='{{ url_for('viewLoansSSS') }}' class='opt2'>SSS Loans</a></li>
            <li class="nobullets"><a href='{{ url_for('viewLoansCalamity') }}' class='opt2'>Pag-ibig Calamity Loans</a></li>
            <li class="nobullets"><a href='{{ url_for('viewLoansSalary') }}' class='opt2'>Pag-ibig Salary Loans</a></li>
        </ul> 
    </div>

</div>

{% endblock sidebar %}

{% block content %}
<h1>SSS Loans</h1>
<hr>
<h4><span class="employee-name">&nbsp;</span></h4>
  <div id="employees2">
    <form class='pure-form' method='post' action="{{ url_for('viewLoansSSS') }}">
      <table>
        <td class="code">
        <input type="text" id="code-field" name="code-field" class="search pure-input-2-3" placeholder="Employee code" autofocus />
        <input type="hidden" id="id-field" name="id-field" placeholder="Employee ID" /></td>
        <td class="loan">
        <input type="text" id="loan-field" name="loan-field" placeholder="Principal loan" />
        </td>
        <td class="payment">
          <input type="text" id="monthly-field" name="monthly-field" placeholder="Monthly payment" />
        </td>
        <td class="add">
          <button id="add-btn" type="submit" class="pure-button">Add to Loans</button>
        </td>
      </table>
    </form>

    <ul class="list list1">
      <p>will hide this later and show only when searched</p>
      {% for EE in EEs %}
      <li class="nobullets">
        <p class="name"><a class="pure-button" href="#">{{ EE.LastName }}, {{ EE.FirstName}}</a></p>
        <p class="code" style="display:none;">{{ EE.FECode }}</p>
        <p class="id" style="display:none;">{{ EE.ID }}</p>
      </li>
      {% endfor %}
    </ul>
  </div>

  <br/>
  <br/>

  <div id="employees">
  <label>Search: </label>
  <input type="text" class="search pure-input-2-3" placeholder="" id='search_employee' />
  <br/><br/>
  <table class='pure-table'>
  <thead>
    <tr>
      <th>No.</th>
      <th class="sort" data-sort="name">Name</th>
      <th class="sort" data-sort="loan">Principal Loan</th>
      <th class="sort" data-sort="payment">Monthly Payment</th>
      <th class="sort" data-sort="balance">Balance</th>
      <th class="sort" data-sort="datecreated">DateCreated</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="list">
    {% for SSS in SSSs %}
      <tr>
        <td class="id">{{ SSS.ID }}</td>
        <td class="name" >{{ SSS.FieldEmpName }}</td>
        <td class="loan">{{ SSS.Amount }}</td>
        <td class="payment">{{ SSS.MonthlyPay }} </td>
        <td class="balance"> {{ SSS.Balance }} </td>
        <td class="datecreated"> {{ SSS.DateCreated }} </td>
        <form method="POST" action='{{ url_for('deleteLoansSSS', ID=SSS.ID) }}'>
        <td class="remove"><button class='pure-button' type="submit">Remove</button></td>
        </form>
      </tr>
    {% endfor %}
  </tbody>
</table>
<br/>
</div>

<br/>

<!-- SCRIPT FOR ListJS search contact  -->
<script>
var options2 = {
  valueNames: [ 'code' ]
};
// Init list
var employeeList = new List('employees2', options2);
<!-- SCRIPT FOR ListJS search detachment  -->
var options = {
  valueNames: [ 'id', 'name', 'loan', 'payment', 'balance' ]
};
// Init list
var employeeList = new List('employees', options);
</script>
<script>
$( document ).ready(function() {
  $(".name").click(function() {
    $(".employee-name").html($(this).children().html());
    $("#code-field").val($(this).next().html());
    $("#id-field").val($(this).next().next().html());
    $(".list1").hide('fast');
  });
});
</script>
{% endblock content %}