{% extends "base.html" %}



{% block sidebar %}
<div class="sidebar gradient">
    <hr class='navline navline1'/>
    <h2 class='navtitle'>MANHOUR RECORDS</h2>
    <hr class='navline'/>
    
    <div class='sidebar-menu'>
        <h4>Manhour Records</h4>
        <ul class="right">
            <li class="nobullets"><a href='{{ url_for('listDetachmentsManhour') }}' class='opt2'>View Record</a></li>
            <li class="nobullets"><a href='{{ url_for('addManhour') }}' class='opt2'>Add Record</a></li>
        </ul> 
    </div>

</div>
{% endblock sidebar %}

{% block content %}

    <h1>Manhour Record</h1>
    <hr>
    <br/>
    <form class='pure-form pure-form-aligned' method='post' action=''>
    <table>
        <tr>
            <td><label>Detachment Code: </label></td>
            <td><input class='codebox' class="pure-input" name='detachment_name' type='text' disabled></td>
            <td><label>Detachment Name: </label><input class='namebox' class="pure-input" name='detachment_name' type='text' disabled></td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td><label for='period_code'>Period Code:</label></td>
            <td><input id='period_code' class="pure-input-1-6" name='period_code' type='number' min='0' max='9999'></td>
            <td>
                Start date:&nbsp; <input id='from' name='' type='date'/>&nbsp;&nbsp; End date: <input id='to' name='' type='date'/>
            </td>
        </tr>
    </table>
    <br/>

    <br/>
    <table class='pure-table'>
        <thead>
        <tr>
            <th>Field Employee Name</th>
            <th class='col'>Regular</th>
            <th class='col'>OT</th>
            <th class='col'>Nightshift</th>
            <th class='col'># of Days</th>
            <th class='col'>Legal Holiday</th>
            <th class='col'>Special Holiday</th>
        </tr>
        </thead>
        <tbody id='tablebody'>
        <tr class='tr_clone entry'>
            <td><input id='' class="cell" name='' type='text' placeholder='Name'></td>
            <td><input id='' class="cell" name='' type='number' min='0' max='120' placeholder='reg hrs'></td>
            <td><input id='' class="cell" name='' type='number' min='0' max='60' placeholder='OT hrs'></td>
            <td><input id='' class="cell" name='' type='number' min='0' max='120' placeholder='night hrs'></td>
            <td><input id='' class="cell" name='' type='number' min='0' max='14' placeholder='days'></td>
            <td><input id='' class="cell" name='' type='number' min='0' max='7' placeholder='special hol.'></td>
            <td><input id='' class="cell" name='' type='number' min='0' max='7' placeholder='legal hol.'></td>
        <tr>
</tbody>
    </table>
    <br/>
    <input type='button' class="pure-button tr_clone_add" value='Add new entry'/>
    <br />
 
</fieldset>
</form>
    
<div id='buttoncontainer'>
<button id='save' class='pure-button save'>Save Changes</button>
</div>

<script src="/static/js/jquery-1.10.2.js"></script>
<script type="text/javascript">
$( ".tr_clone_add" ).click(function(event) {
    var $clone = $( ".entry:last" ).clone();
    $clone.find('.cell').val('');
    $clone.appendTo( "#tablebody" );
});
</script>
{% endblock content%}
